<section id="auction" class="auction">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Аукцион</h1>
            </div>
        </div>
    </div>

    <div class="auction-rules mt32 mb32">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-4 auction-rules-image">
                    <img src="/img/xx_bg-20.svg" alt="">
                </div>
                <div class="col-12 col-md-4 auction-rules-block">
                    <h4>Правила аукциона</h4>
                    У каждого участника будет своя табличка с номером.
                    Начинаем с цены в 5 000 руб. Когда ведущий задает
                    вопрос «Кто больше?», участники поднимают таблички
                    и называют сумму, которая выше предыдущей минимум
                    на 1 000 руб.
                </div>
                <div class="col-12 col-md-4 auction-rules-block">
                    <h4>&nbsp</h4>
                    Лот получает тот, кто предложит за него наиболее
                    высокую цену. Все вырученные от аукциона средства
                    Риалвеб отдает на благотворительность.
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="m-slider" data-mobile-slider="auction-slider">
            <div class="row m-slider-wrapper justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 m-slider-item">
                    <div class="lot">
                        <div class="row">
                            <div class="col12 col-sm-5 lot-image-wrapper">
                                <div class="lot-image">
                                    <img src="/img/lots/4O4A5386.png" alt="">
                                </div>
                            </div>
                            <div class="col12 col-sm-7">
                                <div class="lot-description">
                                    Последний экземпляр книги
                                    владельца Aviasales Макса
                                    Крайнова "Блог. Избранное",
                                    Макс Крайнов. Всего в
                                    тираже из было 5.
                                </div>
                                <div class="lot-controls">
                                    <button class="button -info open-lot"
                                            data-lot="1"
                                    >Подробнее</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 m-slider-item">
                    <div class="lot">
                        <div class="row">
                            <div class="col12 col-sm-5 lot-image-wrapper">
                                <div class="lot-image">
                                    <img src="/img/lots/4O4A5413.png" alt="">
                                </div>
                            </div>
                            <div class="col12 col-sm-7">
                                <div class="lot-description">
                                    Последний экземпляр книги
                                    владельца Aviasales Макса
                                    Крайнова "Блог. Избранное",
                                    Макс Крайнов. Всего в
                                    тираже из было 5.
                                </div>
                                <div class="lot-controls">
                                    <button class="button -info open-lot"
                                            data-lot="2"
                                    >Подробнее</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 m-slider-item">
                    <div class="lot">
                        <div class="row">
                            <div class="col12 col-sm-5 lot-image-wrapper">
                                <div class="lot-image">
                                    <img src="/img/lots/4O4A9862.png" alt="">
                                </div>
                            </div>
                            <div class="col12 col-sm-7">
                                <div class="lot-description">
                                    Последний экземпляр книги
                                    владельца Aviasales Макса
                                    Крайнова "Блог. Избранное",
                                    Макс Крайнов. Всего в
                                    тираже из было 5.
                                </div>
                                <div class="lot-controls">
                                    <button class="button -info open-lot"
                                            data-lot="3"
                                    >Подробнее</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 m-slider-item">
                    <div class="lot">
                        <div class="row">
                            <div class="col12 col-sm-5 lot-image-wrapper">
                                <div class="lot-image">
                                    <img src="/img/lots/4O4A9911.png" alt="">
                                </div>
                            </div>
                            <div class="col12 col-sm-7">
                                <div class="lot-description">
                                    Последний экземпляр книги
                                    владельца Aviasales Макса
                                    Крайнова "Блог. Избранное",
                                    Макс Крайнов. Всего в
                                    тираже из было 5.
                                </div>
                                <div class="lot-controls">
                                    <button class="button -info open-lot"
                                            data-lot="4"
                                    >Подробнее</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 m-slider-item">
                    <div class="lot">
                        <div class="row">
                            <div class="col12 col-sm-5 lot-image-wrapper">
                                <div class="lot-image">
                                    <img src="/img/lots/4O4A9934.png" alt="">
                                </div>
                            </div>
                            <div class="col12 col-sm-7">
                                <div class="lot-description">
                                    Последний экземпляр книги
                                    владельца Aviasales Макса
                                    Крайнова "Блог. Избранное",
                                    Макс Крайнов. Всего в
                                    тираже из было 5.
                                </div>
                                <div class="lot-controls">
                                    <button class="button -info open-lot"
                                            data-lot="5"
                                    >Подробнее</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 m-slider-item">
                    <div class="lot">
                        <div class="row">
                            <div class="col12 col-sm-5 lot-image-wrapper">
                                <div class="lot-image">
                                    <img src="/img/lots/4O4A9957.png" alt="" style="max-width: 80%;">
                                </div>
                            </div>
                            <div class="col12 col-sm-7">
                                <div class="lot-description">
                                    Последний экземпляр книги
                                    владельца Aviasales Макса
                                    Крайнова "Блог. Избранное",
                                    Макс Крайнов. Всего в
                                    тираже из было 5.
                                </div>
                                <div class="lot-controls">
                                    <button class="button -info open-lot"
                                            data-lot="6"
                                    >Подробнее</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 add-wrapper hidden-for-sm-down">
                    <a href="#open-invite" class="button -add -big">Предложить лот</a>
                </div>

            </div>
        </div>

        <div class="hidden-for-md-up text-center mt48">
            <a href="#open-invite" class="button -add -big">Предложить лот</a>
        </div>

    </div>
</section>
