<section id="chronology" class="chronology">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="chronology-image">
                    <img src="/img/timeline-20.svg" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="text-block">
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <h1>История Рунета развивалась на наших глазах</h1>
                </div>
                <div class="col-12 col-md-4">
                    Мы не только одними из первых занялись
                    интернет-рекламой, но и заводили свои первые ящики
                    на @yandex.ru, @rambler.ru или @mail.ru, переписывались
                    в ICQ и QIP, писали посты и читали комменты в ЖЖ,
                    выходили в сеть еще с кнопочных мобильных телефонов,
                </div>
                <div class="col-12 col-md-4">
                    подписывались на новые медиа и делились фото из
                    отпуска в Одноклассниках и Вконтакте.
                    20 лет Рунета – целая эпоха, впечатления и артефакты
                    которой мы собрали в этом спецпроекте.
                </div>
            </div>
        </div>
    </div>

    <div class="container chronology-mobile">
        <div class="row">
            <div class="col-12">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <dl>
                                <dd>
                                    Mail.ru лидирует по количеству
                                    пользователей, Reksoft запускает
                                    Озон.ру, а мы открываем первый
                                    офис в Петербурге
                                </dd>
                                <dt>1998</dt>
                            </dl>
                        </div>
                        <div class="swiper-slide">
                            <dl>
                                <dd>
                                    Запустилась Википедия на русском
                                    языке и Директ для рекламы
                                    в поиске Яндекса
                                </dd>
                                <dt>2001</dt>
                            </dl>
                        </div>
                        <div class="swiper-slide">
                            <dl>
                                <dd>
                                    Мы начали работать с Google
                                    Adwords и открыли офис в Москве
                                </dd>
                                <dt>2003-2004</dt>
                            </dl>
                        </div>
                        <div class="swiper-slide">
                            <dl>
                                <dd>
                                    Расцвет социальных сетей –
                                    Facebook, Одноклассников и Вконтакте
                                </dd>
                                <dt>2006</dt>
                            </dl>
                        </div>
                        <div class="swiper-slide">
                            <dl>
                                <dd>
                                    Стартовали миллионные продажи
                                    iPhone 3G в России. Запущена
                                    первая система видеорекламы Videonow
                                </dd>
                                <dt>2008</dt>
                            </dl>
                        </div>
                        <div class="swiper-slide">
                            <dl>
                                <dd>
                                    Протокол Open RTB дал
                                    начало развитию
                                    programmatic-технологий
                                </dd>
                                <dt>2010</dt>
                            </dl>
                        </div>
                        <div class="swiper-slide">
                            <dl>
                                <dd>
                                    Озон запустил книжную премию
                                    Рунета, а Риалвеб стал партнером
                                    Google DBM
                                </dd>
                                <dt>2011</dt>
                            </dl>
                        </div>
                        <div class="swiper-slide">
                            <dl>
                                <dd>
                                    На Авито размещено уже 33 млн
                                    объявлений, а в московском
                                    общественном транспорте
                                    появляется бесплатный интернет
                                </dd>
                                <dt>2015</dt>
                            </dl>
                        </div>
                        <div class="swiper-slide">
                            <dl>
                                <dd>
                                    Рост мобильной аудитории догнал
                                    рост десктопной и вот-вот его превысит
                                </dd>
                                <dt>2016</dt>
                            </dl>
                        </div>
                        <div class="swiper-slide">
                            <dl>
                                <dd>
                                    Нам XX лет!
                                </dd>
                                <dt>2018</dt>
                            </dl>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>

</section>