        <!-- FakeLoader Start -->
        <div id="fakeLoader"></div>
        <!-- FakeLoader End -->
        <!-- Copyright Area Start -->
        <div id="copyright">
            <div class="container">
                <!-- Copyright Text Start -->
                <p class="left">MegaBit 2015 &copy; . Всё права защищены.</p>
                <!-- Copyright Text End -->
            </div>
        </div>
        <!-- Copyright Area End -->

        <!-- Back To Top Button Start -->
        <div id="backToTop">
            <a href="body" data-animate-scroll="true"><i class="fa fa-angle-up"></i></a>
        </div>
        <!-- Back To Top Button End -->


        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/fakeLoader.min.js"></script>
        <script src="/js/animatescroll.min.js"></script>
        <script src="/js/jquery.counterup.min.js"></script>
        <script src="/js/jquery.countdown.min.js"></script>


        <script src="/js/main.js"></script>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>

        <script src="/js/vendors.bundle.js"></script>
        <script src="/js/script.bundle.js"></script>
    </body>
</html>
