<header class="main-menu">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="main-menu-inner">

                    <button class="hamburger hamburger--spring" type="button">
                              <span class="hamburger-box">
                                  <span class="hamburger-inner"></span>
                              </span>
                    </button>

                    <div class="main-menu-logo">
                        <a href="#" class="scroll-to-top">
                            <img src="/img/logo_header.svg" alt="RealWeb">
                        </a>
                    </div>
                </div>

                <nav class="main-menu-navigation">
                    <ul>
                        <li>
                            <a href="#to-chronology">История</a>
                        </li>
                        <li>
                            <a href="#to-speakers">Герои</a>
                        </li>
                        <li>
                            <a href="#to-auction">Аукцион</a>
                        </li>
                        <li>
                            <a href="#to-program">Программа</a>
                        </li>
                    </ul>
                </nav>
                <div class="main-menu-invite-link">
                    <a href="#open-feedback">Получить приглашение</a>
                </div>
            </div>
        </div>
    </div>
</header>