<section id="partners" class="partners">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Партнеры</h1>

                <div class="swiper-container mt32">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <a href="https://performance360.ru/" target="_blank">
                                <img src="/img/partners/s1.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://www.realweb.ru/" target="_blank">
                                <img src="/img/partners/s2.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://evolutionfund.ru/" target="_blank">
                                <img src="/img/partners/s3.png" alt="">
                            </a>
                        </div>
                    </div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>

            </div>
        </div>
    </div>
</section>
