<section id="program" class="program">
    <div class="container program-container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-left">Программа</h1>
            </div>
            <div class="col-12 col-md-5">
                <p>
                    Мы начинаем встречать гостей с 19:30 – приветствия,
                    объятия, селфи, welcome drinks и живая музыка.
                    К розыгрышу первого лота мы приступим в 20:00, через
                    час сделаем короткий музыкальный перерыв и вновь
                    вернемся к аукциону.
                </p>
                <p>
                    Как только все раритеты будут раскуплены, нас ждут
                    фуршет, напитки, танцы, скупые ностальгические слезы
                    и великолепный вид на ночную Москву.
                </p>
            </div>
            <div class="program-cross"></div>
            <div class="col-12 col-md-4">
                <dl>
                    <dt>
                        Где:
                    </dt>
                    <dd>
                        Omega Rooftop <br>
                        Цветной бульвар, дом 15, строение 1,<br>этаж 7
                    </dd>
                </dl>
                <dl>
                    <dt>
                        Когда:
                    </dt>
                    <dd>
                        16 ноября, 19:30
                    </dd>
                </dl>
                <dl>
                    <dt>
                        Как попасть:
                    </dt>
                    <dd>
                        пишите на почту <a href="mailto:lv@realweb.ru">lv@realweb.ru</a>
                    </dd>
                </dl>
                <a href="#open-feedback" class="button -send -white -big mt16">
                    Написать нам
                </a>
            </div>
        </div>
    </div>
</section>
