<section id="speakers" class="speakers">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>XX лет Рунета в историях</h1>
            </div>
        </div>
        <div class="m-slider" data-mobile-slider="speakers-slider">
            <div class="row  justify-content-center m-slider-wrapper">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 m-slider-item">
                    <div class="speaker">
                        <div class="speaker-image">
                            <div class="speaker-image-photo">
                                <img src="/img/speakers/6.png" alt="Артем Пуликов">
                            </div>
                        </div>
                        <div class="speaker-name">
                            Антон Байцур
                        </div>
                        <div class="speaker-position">
                            Aviasales
                        </div>
                        <div class="speaker-controls">
                            <div class="row">
                                <div class="col-6 p-md-0 text-right">
                                    <button class="button -video -m-small open-video"
                                            data-video="https://www.youtube.com/embed/z5DTrHKmX4M"
                                    >
                                        Смотреть видео
                                    </button>
                                </div>
                                <div class="col-6 p-md-0">
                                    <button class="button -info -m-small open-lot" data-lot="2">
                                        Перейти к лоту
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-12 col-sm-6 col-md-6 col-lg-4 m-slider-item">-->
                    <!--<div class="speaker">-->
                        <!--<div class="speaker-image">-->
                            <!--<div class="speaker-image-photo">-->
                                <!--<img src="/img/speakers/1.png" alt="Артем Пуликов">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="speaker-name">-->
                            <!--Артем Пуликов-->
                        <!--</div>-->
                        <!--<div class="speaker-position">-->
                            <!--МаксимаТелеком-->
                        <!--</div>-->
                        <!--<div class="speaker-controls">-->
                            <!--<div class="row">-->
                                <!--<div class="col-6 p-md-0 text-right">-->
                                    <!--<button class="button -video -m-small open-video"-->
                                            <!--data-video="https://www.youtube.com/embed/LVu3OaZBfOc"-->
                                    <!--&gt;-->
                                        <!--Смотреть видео-->
                                    <!--</button>-->
                                <!--</div>-->
                                <!--<div class="col-6 p-md-0">-->
                                    <!--<button class="button -info -m-small open-lot" data-lot="2">-->
                                        <!--Перейти к лоту-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 m-slider-item">
                    <div class="speaker">
                        <div class="speaker-image">
                            <div class="speaker-image-photo -cross-2">
                                <img src="/img/speakers/2.png" alt="Арсен Ревазов">
                            </div>
                        </div>
                        <div class="speaker-name">
                            Арсен Ревазов
                        </div>
                        <div class="speaker-position">
                            IMHO
                        </div>
                        <div class="speaker-controls">
                            <div class="row">
                                <div class="col-6 p-md-0 text-right">
                                    <button class="button -video -m-small open-video"
                                            data-video="https://www.youtube.com/embed/LVu3OaZBfOc"
                                    >
                                        Смотреть видео
                                    </button>
                                </div>
                                <div class="col-6 p-md-0">
                                    <button class="button -info -m-small open-lot" data-lot="3">
                                        Перейти к лоту
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-12 col-sm-6 col-md-6 col-lg-4 m-slider-item">-->
                    <!--<div class="speaker">-->
                        <!--<div class="speaker-image">-->
                            <!--<div class="speaker-image-photo -cross-3">-->
                                <!--<img src="/img/speakers/3.png" alt="Василий Лазука">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="speaker-name">-->
                            <!--Василий Лазука-->
                        <!--</div>-->
                        <!--<div class="speaker-position">-->
                            <!--Риалвеб-->
                        <!--</div>-->
                        <!--<div class="speaker-controls">-->
                            <!--<div class="row">-->
                                <!--<div class="col-6 p-md-0 text-right">-->
                                    <!--<button class="button -video -m-small open-video"-->
                                            <!--data-video="https://www.youtube.com/embed/LVu3OaZBfOc"-->
                                    <!--&gt;-->
                                        <!--Смотреть видео-->
                                    <!--</button>-->
                                <!--</div>-->
                                <!--<div class="col-6 p-md-0">-->
                                    <!--<button class="button -info -m-small open-lot" data-lot="4">-->
                                        <!--Перейти к лоту-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-12 col-sm-6 col-md-6 col-lg-4 m-slider-item">-->
                    <!--<div class="speaker">-->
                        <!--<div class="speaker-image">-->
                            <!--<div class="speaker-image-photo -cross-2">-->
                                <!--<img src="/img/speakers/4.png" alt="Виктория Кинаш">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="speaker-name">-->
                            <!--Виктория Кинаш-->
                        <!--</div>-->
                        <!--<div class="speaker-position">-->
                            <!--Яндекс-->
                        <!--</div>-->
                        <!--<div class="speaker-controls">-->
                            <!--<div class="row">-->
                                <!--<div class="col-6 p-md-0 text-right">-->
                                    <!--<button class="button -video open-video"-->
                                            <!--data-video="https://www.youtube.com/embed/LVu3OaZBfOc"-->
                                    <!--&gt;-->
                                        <!--Смотреть видео-->
                                    <!--</button>-->
                                <!--</div>-->
                                <!--<div class="col-6 p-md-0">-->
                                    <!--<button class="button -info -m-small open-lot">-->
                                        <!--Перейти к лоту-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 m-slider-item">
                    <div class="speaker">
                        <div class="speaker-image">
                            <div class="speaker-image-photo -cross-3">
                                <img src="/img/speakers/5.png" alt="Илья Красильщик">
                            </div>
                        </div>
                        <div class="speaker-name">
                            Илья Красильщик
                        </div>
                        <div class="speaker-position">
                            Медуза
                        </div>
                        <div class="speaker-controls">
                            <div class="row">
                                <div class="col-6 p-md-0 text-right">
                                    <button class="button -video -m-small open-video"
                                            data-video="https://www.youtube.com/embed/6SIca6tT3og"
                                    >
                                        Смотреть видео
                                    </button>
                                </div>
                                <div class="col-6 p-md-0">
                                    <button class="button -info -m-small open-lot" data-lot="1">
                                        Перейти к лоту
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 add-wrapper hidden-for-sm-down">
                    <a href="#open-addHistory" class="button -add -big">Предложить историю</a>
                </div>

            </div>
        </div>

        <div class="hidden-for-md-up text-center mt48">
            <a href="#open-addHistory" class="button -add -big">Предложить историю</a>
        </div>
    </div>
</section>
