<section class="welcome-screen">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>16 ноября, Omega Rooftop</h1>
                <div class="welcome-screen-animated">
                    <video src="/video/1008286402-sd.mp4" allow="autoplay; encrypted-media" autoplay muted loop />
                </div>
                <img class="welcome-screen-image" src="/img/welcome-image-xx.jpg" alt="">
                <div class="welcome-screen-company-name">
                    Лет риалвеб
                </div>
                <div class="welcome-screen-description">
                    <p>Аукцион digital-артефактов</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mouse-down">
        <img src="/img/mouse.svg" alt="Scroll down">
    </div>
</section>