.auction {
    counter-reset: section;
    padding-bottom: $em56;

    h1 {
        margin-top: $rem86;
    }

    .lot {
        margin: $em36 0;

        &:before {
            display: block;
            counter-increment: section;
            content:  counter(section, decimal-leading-zero);
            text-align: center;
            font-family: 'Roboto-slab-bold', Roboto, sans-serif;
            font-size: $em56;
            font-weight: bold;
            color: #000;
            @include media-breakpoint-down('sm') {
                display: none;
            }
        }

        &-image {
            img {
                max-width: 100%;
            }

            @include media-breakpoint-down('md') {
                text-align: center;

                img {
                    max-width: 60%;
                }

            }

        }

        &-description {
            font-size: $em13;

            &:before {
                display: block;
                counter-increment: section;
                content:  counter(section, decimal-leading-zero);
                font-family: 'Roboto-slab-bold', Roboto, sans-serif;
                font-size: $rem56;
                font-weight: bold;
                color: #000;

                @include media-breakpoint-up('md') {
                    display: none;
                }

            }

        }

        &-controls {
            margin-top: 1em;

            @include media-breakpoint-down('md') {
                text-align: center;
            }

        }

    }

    &-rules {
        font-size: $em13;
        margin-top: 3em;

        @include media-breakpoint-down('sm') {
            text-align: center;
            margin-top: 1em;
        }

        &-header {
            padding-right: 1em;
            @include flex;
            align-items: flex-end;

            @include media-breakpoint-down('sm') {
                align-items: center;
            }

            b {
                text-transform: uppercase;
                display: inline-block;
                font-family: 'Roboto-slab';
                margin-top: 2px;
            }

            img {
                margin-top: 1em;
                max-width: 80px;
            }

        }

        &-block {

            @include media-breakpoint-down('sm') {
                margin-bottom: 1em;
            }
        }
    }
}