.chronology {
    background-color: #000;
    color: #fff;
    padding-bottom: $em70;
    
    h1 {
        text-align: left;
        margin-bottom: 1em;
    }

    &-image {
        img {
            width: 100%;
        }
    }

    .text-block {
        font-size: $em13;
    }
}