.program {
    position: relative;
    font-size: $em13;
    background-color: #000;
    color: #fff;

    @include media-breakpoint-down('sm') {
        text-align: center;
    }

    h1 {
        margin-bottom: 1em;

        @include media-breakpoint-down('sm') {
            text-align: center !important;
        }
    }

    &-cross {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('/img/X_event.png');
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: auto 80%;

        @include media-breakpoint-down('lg') {
            background-size: auto 50%;
        }

        @include media-breakpoint-down('sm') {
            position: relative;
            left: auto;
            top: auto;
            right: auto;
            bottom: auto;
            width: 100%;
            background-position: 50% 50%;

            &:before {
                content: '';
                display: block;
                padding-top: 100%;
                width: 100%;
            }

        }

    }

    &-container {
        position: relative;

        padding-top: 9.375em;
        padding-bottom: 9.375em;

        @include media-breakpoint-down('sm') {
            padding-top: 4.375em;
            padding-bottom: 4.375em;
        }

    }

    dl {
        
        dt {
            color: #a5a5a5;
        }
        
        dd {
            a {
                color: #fff;
            }
        }
    }
}