.speakers {
    $this: &;

    h1 {
        margin-top: $rem56;
        margin-bottom: $rem56;
    }

    .speaker {
        text-align: center;
        margin-bottom: $rem56;

        &-image {
            position: relative;
            padding-bottom: 2em;
            padding-top: 2em;
            text-align: center;

            &-photo {
                position: relative;
                z-index: 2;
                height: auto;
                width: 100%;
                max-width: 10.250em;
                display: inline-block;



                $crossWidth: 40px;
                $crossHeight: 40px;

                &:after,
                &:before {
                    position: absolute;
                    z-index: 3;
                    width: $crossWidth;
                    height: $crossHeight;
                    content: '';
                    display: block;
                    background-image: url('/img/speaker_X.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    transition: opacity .4s;
                }

                &:after {
                    top: 0;
                    left: 0;
                }

                &:before {
                    bottom: 0;
                    right: 0;
                    transition: opacity .8s;
                }

                &.-cross {

                    &-2 {

                        &:after {
                            top: 30%;
                            left: -($crossWidth / 2);
                        }

                        &:before {
                            bottom: 30%;
                            right: -($crossWidth / 2);
                        }

                    }

                    &-3 {

                        &:after {
                            top: -($crossWidth / 2);
                            left: 60%;
                        }

                        &:before {
                            bottom: -($crossWidth / 2);
                            right: 60%;
                        }

                    }
                }

            }

        }

        &-name {
            font-size: $em24;
            margin-top: $rem24;
        }

        &-position {
            font-size: $em13;
            margin-top: $em8;
        }

        &-controls {
            margin-top: $em20;
        }

        &:hover {
            .speaker-image-photo {
                &:after,
                &:before {
                    opacity: 0;
                }
            }
        }
    }

}