.welcome-screen {
    position: relative;
    height: 100vh;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    padding-top: $menu-height;
    text-align: center;
    @include flex;

    &-image {
        max-width: 26.875em;
        margin-top: 53px;
        @include media-breakpoint-down('sm') {
            max-width: 90%;
        }
    }

    &-company-name {
        font-size: $em48;
        text-transform: uppercase;
        font-family: "Roboto-slab";
        letter-spacing: 0.1em;
        margin-top: 9px;
    }

    .mouse-down {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        cursor: pointer;
    }
}