@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/tingle.js/dist/tingle.css";

$font-family-base: 'Roboto';

@import "variables";
@import "mixins";
@import "fonts";
@import "components/main-menu";
@import "components/welcome-screen";
@import "components/chronology";
@import "components/speakers";
@import "components/auction";
@import "components/program";
@import "components/partners";
@import "components/footer";

@import "components/button";
@import "components/add-wrapper";
@import "components/modal";
@import "components/input";

body {
    color: #000;
}

h1, h2, h3 {
    font-family: "Roboto-slab";
    text-align: center;
}

h1 {
    font-size: $rem24;
    letter-spacing: -.04em;
}

.mt {
    &16 {
        margin-top: $em16;
    }
    &24{
        margin-top: $em24;
    }
    &32 {
        margin-top: $em32;
    }
}